:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  width: 100%;
}