:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 320px;
  max-width: 100vw;
  min-height: 100dvh;
  padding: 0;
  overflow: hidden;
}